.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
}

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

@media (max-width: 560px) {
  .moviesGrid {
    grid-template-columns: 100%;
  }
}

/* ************ */

.movieCard {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e6206f;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.movieCard:hover {
  opacity: 0.8;
  background-color: #ca3973;
}

.movieImage {
  border-radius: 10px;
  background-color: azure;
}

@media (max-width: 560px) {
  .movieImage {
    width: 90%;
    height: auto;
  }
}
